.overall {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 100vw;
  justify-items: center;
}

.container {
  text-align: center;
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: center;
}

.container h1 {
  font-size: 45px;
  padding-bottom: 5%;
}

/* After video list renders */

.container-videos {
  text-align: center;
  display: grid;
  grid-template-rows: auto 100%;
  grid-template-columns: 100vw;
}

.search-bar__videos {
  grid-row: 1/2;
  grid-column: 1/2;
  margin: 4% 0 5% 0;
}

.video-listing {
  grid-row: 2/3;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.video-text {
  align-self: center;
}

.video-card {
  text-align: left;
  width: 75%;
}

.card-pos {
  margin: 0 12.5% !important;
}
