.all {
  padding: 2%;
}
.overall {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 100vw;
  justify-items: center;
}

.customContainer {
  text-align: center;
  grid-row: 1/2;
  align-self: center;
  width: 20%;
}

.customContainer h1 {
  font-size: 45px;
}

/* After video list renders */

.search-bar__videos {
  margin: 0 0 5% 0;
}

.ui.items:first-child {
  margin-bottom: 2.5% !important;
}

.ui.grid > .row {
  padding-bottom: 0;
}

.heading {
  align-self: center;
}
